/*  */

/* The CSS element Selector */
p {
  text-align: center;
  color: red;
}

/* The CSS id Selector */
#para1 {
  text-align: center;
  color: red;
}

/* The CSS class Selector */
.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}

/* The CSS Universal Selector */
* {
  text-align: center;
  color: blue;
}

/* The CSS Grouping Selector */
h1,
h2,
p {
  text-align: center;
  color: red;
}

/* CSS Background Color */
h1 {
  background-color: DodgerBlue;
}

/* CSS Text Color */
h1 {
  color: Tomato;
}

/* CSS Border Color */
h1 {
  border: 2px solid Tomato;
}

/* 
CSS Color Values
Same as color name "Tomato"
*/
h1 {
  background-color: rgb(255, 99, 71);
  background-color: #ff6347;
  background-color: hsl(9, 100%, 64%);
}

/* 
CSS Color Values
Same as color name "Tomato", but 50% transparent
*/
h1 {
  background-color: rgba(255, 99, 71, 0.5);
  background-color: hsla(9, 100%, 64%, 0.5);
}

/* CSS background-color */
body {
  background-color: lightblue;
}
h1 {
  background-color: green;
}
div {
  background-color: lightblue;
}
p {
  background-color: yellow;
}

/* Opacity or Transparency */
div {
  background-color: green;
  opacity: 0.3;
}

/* Transparency using RGBA */
div {
  background: rgba(0, 128, 0, 0.3); /* Green background with 30% opacity */
}

/* CSS background-image */
body {
  background-image: url('paper.gif');
}
p {
  background-image: url('paper.gif');
}

/* CSS background-repeat Horizontally */
body {
  background-image: url('gradient_bg.png');
  background-repeat: repeat-x;
}

/* CSS background-repeat Vertically */
body {
  background-image: url('gradient_bg.png');
  background-repeat: repeat-y;
}

/* CSS background-repeat: no-repeat */
body {
  background-image: url('img_tree.png');
  background-repeat: no-repeat;
}

/* CSS background-position */
body {
  background-image: url('img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;
}

/* CSS background-attachment */
body {
  background-image: url('img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
body {
  background-image: url('img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

/* CSS background - Shorthand property */
body {
  background-color: #ffffff;
  background-image: url('img_tree.png');
  background-repeat: no-repeat;
  background-position: right top;
}
body {
  background: #ffffff url('img_tree.png') no-repeat right top;
}

/*
The background property is a shorthand property for the following properties:
background-color
background-image
background-position
background-size
background-repeat
background-attachment
background-origin
background-clip
*/

/* CSS Border Style */
p.dotted {
  border-style: dotted;
}
p.dashed {
  border-style: dashed;
}
p.solid {
  border-style: solid;
}
p.double {
  border-style: double;
}
p.groove {
  border-style: groove;
}
p.ridge {
  border-style: ridge;
}
p.inset {
  border-style: inset;
}
p.outset {
  border-style: outset;
}
p.none {
  border-style: none;
}
p.hidden {
  border-style: hidden;
}
p.mix {
  border-style: dotted dashed solid double;
}

/* CSS Border Width */
p.one {
  border-style: solid;
  border-width: 5px;
}
p.two {
  border-style: solid;
  border-width: medium;
}
p.three {
  border-style: dotted;
  border-width: 2px;
}
p.four {
  border-style: dotted;
  border-width: thick;
}

/* Specific Side Widths */
p.one {
  border-style: solid;
  border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
}
p.two {
  border-style: solid;
  border-width: 20px 5px; /* 20px top and bottom, 5px on the sides */
}
p.three {
  border-style: solid;
  border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */
}

/* CSS Border Color */
p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
}

p.three {
  border-style: dotted;
  border-color: blue;
}

/* Specific Side Colors */
p.one {
  border-style: solid;
  border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
}

/* HEX Values */
p.one {
  border-style: solid;
  border-color: #ff0000; /* red */
}

/* RGB Values */
p.one {
  border-style: solid;
  border-color: rgb(255, 0, 0); /* red */
}

/* HSL Values */
p.one {
  border-style: solid;
  border-color: hsl(0, 100%, 50%); /* red */
}

/* CSS Border - Individual Sides */
p {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
p {
  border-style: dotted solid;
}
/* Four values */
p {
  border-style: dotted solid double dashed;
}
/* Three values */
p {
  border-style: dotted solid double;
}
/* Two values */
p {
  border-style: dotted solid;
}
/* One value */
p {
  border-style: dotted;
}
