/*  */

/* The CSS element Selector */
p {
  text-align: center;
  color: red;
}

/* The CSS id Selector */
#para1 {
  text-align: center;
  color: red;
}

/* The CSS class Selector */
.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}

/* The CSS Universal Selector */
* {
  text-align: center;
  color: blue;
}

/* The CSS Grouping Selector */
h1,
h2,
p {
  text-align: center;
  color: red;
}
