/*  */

/* The CSS element Selector */
p {
  text-align: center;
  color: red;
}

/* The CSS id Selector */
#para1 {
  text-align: center;
  color: red;
}

/* The CSS class Selector */
.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}

/* The CSS Universal Selector */
* {
  text-align: center;
  color: blue;
}

/* The CSS Grouping Selector */
h1,
h2,
p {
  text-align: center;
  color: red;
}

/* CSS Background Color */
h1 {
  background-color: DodgerBlue;
}

/* CSS Text Color */
h1 {
  color: Tomato;
}

/* CSS Border Color */
h1 {
  border: 2px solid Tomato;
}

/*
CSS Color Values
Same as color name "Tomato":
<h1 style="background-color:rgb(255, 99, 71);">...</h1>
<h1 style="background-color:#ff6347;">...</h1>
<h1 style="background-color:hsl(9, 100%, 64%);">...</h1>

Same as color name "Tomato", but 50% transparent:
<h1 style="background-color:rgba(255, 99, 71, 0.5);">...</h1>
<h1 style="background-color:hsla(9, 100%, 64%, 0.5);">...</h1>
 */
