/*  */

/* The CSS element Selector */
p {
  text-align: center;
  color: red;
}

/* The CSS id Selector */
#para1 {
  text-align: center;
  color: red;
}

/* The CSS class Selector */
.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}

/* The CSS Universal Selector */
* {
  text-align: center;
  color: blue;
}

/* The CSS Grouping Selector */
h1,
h2,
p {
  text-align: center;
  color: red;
}

/* CSS Background Color */
h1 {
  background-color: DodgerBlue;
}

/* CSS Text Color */
h1 {
  color: Tomato;
}

/* CSS Border Color */
h1 {
  border: 2px solid Tomato;
}

/* 
CSS Color Values
Same as color name "Tomato"
*/
h1 {
  background-color: rgb(255, 99, 71);
  background-color: #ff6347;
  background-color: hsl(9, 100%, 64%);
}

/* 
CSS Color Values
Same as color name "Tomato", but 50% transparent
*/
h1 {
  background-color: rgba(255, 99, 71, 0.5);
  background-color: hsla(9, 100%, 64%, 0.5);
}

/* CSS background-color */
body {
  background-color: lightblue;
}
h1 {
  background-color: green;
}
div {
  background-color: lightblue;
}
p {
  background-color: yellow;
}

/* Opacity or Transparency */
div {
  background-color: green;
  opacity: 0.3;
}

/* Transparency using RGBA */
div {
  background: rgba(0, 128, 0, 0.3); /* Green background with 30% opacity */
}

/* CSS background-image */
body {
  background-image: url('paper.gif');
}
p {
  background-image: url('paper.gif');
}

/* CSS background-repeat Horizontally */
body {
  background-image: url('gradient_bg.png');
  background-repeat: repeat-x;
}

/* CSS background-repeat Vertically */
body {
  background-image: url('gradient_bg.png');
  background-repeat: repeat-y;
}
